@using Ninject;
@using ThreeLayer.Common.Entities;
@using System.Linq;

@{
    Layout = null;

    FormsAuthentication.SignOut();

    var resolver = ThreeLayer.PL.WebPages.Models.DependencesContainer.Resolver;
    var authManager = resolver.Get<ThreeLayer.BLL.UsersLogicContracts.IAuthManager>();
    var rolesManager = resolver.Get<ThreeLayer.BLL.UsersLogicContracts.IRolesManager>();

    if (IsPost)
    {
        if (DateTime.TryParse(Request["birthDay"], out DateTime dateOfBirth))
        {
            var role = rolesManager.GetRoleByTitle("user");
            var userName = Request["login"];

            if (authManager.Register(new User { Name = userName, DateOfBirth = dateOfBirth }, Request["password"], role))
            {
                FormsAuthentication.SetAuthCookie(userName, createPersistentCookie: true);
                Response.Redirect("~");
            }
            else
            {
                // TODO: user already exists
                Response.Redirect("~/Pages/Registration.cshtml");
            }
        }
        else
        {
            // TODO: incorrect data format
            Response.Redirect("~/Pages/Registration.cshtml");
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Styles/Common.css">
    <link rel="stylesheet" href="~/Styles/Auth.css">
</head>
<body>
    <div>
        <form class="box" action="~/Pages/Registration.cshtml" method="post">
            <h1>Registration</h1>
            <input type="text" placeholder="Username" maxlength="20" name="login" required>
            <input type="password" placeholder="Password" maxlength="20" name="password" required>
            <input type="text" placeholder="BirthDay" name="birthDay" required>
            <input type="submit" value="Registration" name="registration">
        </form>
    </div>
</body>
</html>
